.header {
  li div {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  .titleTile div {
    justify-content: center;

    h1 {
      font-family: 'Inter', sans-serif;
      color: #3F51B5;
    }
  }

  a {
    h4 {
      display: inline-block;
      margin: 0 0 0 5px;
      letter-spacing: 1px;
    }
  }
}