.sidebar {
    .MuiDrawer-paper {
        width: 300px;
        overflow: hidden;
    }

    .header {
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(
            to top,
            transparentize(rgb(83, 188, 226), 0.5),
            transparentize(rgb(83, 188, 226), 0.5)
        ), image-url('menu-header.png');

        h3 {
            color: #fff;
            font-size: 26px;
        }
    }

    .list {
        .listItem a {
            color: #272727;
            padding: 8px 32px;
            display: flex;
            flex: 1;
            align-items: center;

            .listIcon {
                min-width: 35px;
            }
        }

        &.belowDividerList {
            flex-grow: 1;
        }
    }

    .footer {
        align-items: center;
        padding-bottom: 10px;

        & > div {
            text-align: center;

            .facebookLink {
                color: #1877F2;
            }

            .linkedinLink {
                color: #0077B5;
            }
        }
    }
} 