@import '../../vars';

.mapNavigationBar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px 10px 10px;
    width: 350px;

    button {
        min-width: 40px;
        margin-right: 10px;
    }

    .loadingContainer {
        position: absolute;
        left: 140px;

        .loading {
            color: #808080;
        }
    }

    .searchBar {
        width: 100%;

        input {
            padding: 0;
        }
    }

    @media screen and (max-width: $mobileBreakpoint) {
        width: 250px;
    }
}