div[data-react-class="scenes/AboutScene"] {
  font-family: 'Inter', sans-serif;
  background-color: #fff;

  .heroSection {
    max-width: 800px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: 200;
      text-align: center;

      span {
        font-weight: 900;
      }
    }

    h3 {
      font-weight: 400;
      color: #586069;
      text-align: center;
    }

  }

  .gridContainer {
    margin: 30px 0;

    .gridTile {
      display: flex;

      .tile {
        flex: 1;
        padding: 0 15px;
    
        p, h4 {
          text-align: center;
        }
      }
    }
  }

  .excerpt {
    margin: 0 auto;

    p {
      margin: 0;
      color: #586069;

      &:first-of-type {
        margin-bottom: 20px;
      }
    }

    a {
      color: #586069;
    }

    li { 
      color: #586069;
    }

    .line {
      width: 100%;
      border-bottom: 1px solid #eee;
      margin: 30px 0;
    }
  }

  .technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    span {
      color: #586069;
    }

    .technologyGrid {
      margin-top: 10px;
      justify-content: center;
    }

    .techTile {
      display: flex;
      justify-content: center;
      margin: 10px 0;

      img {
        max-height: 100%;
      }
    }
  }

  .extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;

    .hostedTile {
      display: flex;
      justify-content: center;
      align-items: center;

      .imgWrapper {
        max-width: 200px;

        img {
          max-width: 100%;
        }
      }

      @media (max-width: 960px) {
        margin-bottom: 30px;
      }
    }

    .contributeTile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      span, svg {
        &:first-of-type {
          margin: 0 2px;
        }

        & > span {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .techTwo {
    margin: 100px auto 30px auto;
    display: flex;
    flex-direction: column;

    .margin {
      margin: 15px 0;
    }

    .imgWrapper {
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 150px;
        max-height: 150px;
        height: initial;
        width: initial;
        margin-left: 10px;
      }
    }

    .contribute {
      display: flex;
      justify-content: center;
      align-items: center;

      .group {
        height: 35px;
        padding: 0 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        span, svg {
          &:first-of-type {
            margin: 0 2px;
          }

          & > span {
            display: flex;
            align-items: center;
          }
        }
      }

      p {
        margin: 0;
      }
    }
  }
}

div[data-react-class="scenes/DevelopScene"] {
  .header .titleTile {
    display: flex;
    align-items: center;
    justify-content: center;

    a h1 {
      font-family: 'Oxygen Mono', monospace;
      font-size: 20px;
      color: #229977;
    }
  }
}