body[data-controller="sessions"],
body[data-controller="registrations"],
body[data-controller="confirmations"],
body[data-controller="passwords"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;

  form {
    margin-bottom: 15px;

    .field {
      margin: 5px 0;

      &.rememberMeField {
        margin: 10px 0 5px 0;
      }
    }

    input {
      box-sizing: border-box;
      width: 100%;
    }

    input[type="submit"] {
      margin: 5px 0;
      padding: 5px 0;
    }

    input[type="checkbox"] {
      width: initial;
    }

  }

  a {
    margin: 4px 0;
  }
}