/*
 *= require_tree .
 *= require_self
 */

 // Material UI Font & Icon dependencies
 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html, body, div[data-react-class] {
  width: 100%;
  height: 100%;
}

body {
  background-color: #eee;
}