div[data-react-class="scenes/newgroup"] {
  font-family: 'Inter', sans-serif;

  .belowHeaderContent {
    margin-top: 40px;
    
    p {
      color: #272727;
      margin-top: 0;
    }

    @media (max-width: 600px) {
      margin-top: 15px;
    }
  }

  .mapContent {
    margin-top: 20px;
  }

  #map {
    width: 100%;
    height: 500px;

    @media (max-width: 600px) {
      height: 300px;
    }
  }

  form {
    margin-top: 30px;

    .formTile {
      &:last-child {
        margin-bottom: 20px;
      }

      &.checkboxControl {
        display: flex;
        align-items: flex-end;

        .checkbox {
          display: flex;
          align-items: flex-end;

          span {
            padding-bottom: 0;
          }
        }

        

        @media (max-width: 960px) {
          padding-bottom: 0;
        }
      }
    }
  }
}
