div[data-react-class="scenes/newgroup"] {
  .mapWrapper {
    margin-top: 40px;
    max-width: 1200px;
    margin: 40px auto;
    height: 500px;
  }

  #map {
      width: 100%;
      height: 100%;
  }
}
