div[data-react-class="entrypoints/NewGroupSceneWrapper"] {
  font-family: 'Inter', sans-serif;

  .belowHeaderContent {
    margin-top: 40px;
    
    p {
      color: #272727;
      margin-top: 0;
    }

    @media (max-width: 600px) {
      margin-top: 15px;
    }
  }

  .coordinates {
    padding: 10px;
    margin-top: 15px;
  }

  .mapContent {
    margin-top: 20px;
    border-bottom: 1px solid #fff;

    .mapErrorLabel {
      color: #f44336;
      text-align: center;

      &::before {
        content: "error";
        color: #fff;
      }
    }
  }

  #map {
    width: 100%;
    height: 500px;

    .coordinates {
      top: 0;
      right: 0;
      position: absolute;
      z-index: 2;
      pointer-events: none;
    }

    @media (max-width: 600px) {
      height: 300px;
    }
  }

  form {
    .formTile {
      &:last-child {
        margin-bottom: 20px;
      }

      .readOnlyField label {
        color: gainsboro;
      }

      &.checkboxControl {
        display: flex;
        align-items: flex-end;

        .checkbox {
          display: flex;
          align-items: flex-end;

          span {
            padding-bottom: 0;
          }
        }

        

        @media (max-width: 960px) {
          padding-bottom: 0;
        }
      }
    }
  }
}
